.alert-error {
    width: auto;
    margin: 0 auto;
    padding: inherit;
    border: 2px solid #ff0d00;
}

.alert-success {
    width: auto;
    margin: 0 auto;
    padding: inherit;
    border: 2px solid #0d9100;
}
