<% if @message.has_password? %>
  <script>
    window.encrypted_message = '<%= @message.content %>';
  </script>

  <h1>Enter password: </h1>

  <input id="password" type="password" class="form-control">
  <button id="decrypt" type="submit" class="btn btn-success">Show</button>
  <p id="decrypted_content"></p>
<% else %>
  <h1>Your message:</h1>
  <p>
    <%= @message.content %>
  </p>
<% end %>