- if @message.has_password?
  javascript:
    window.encrypted_message = '#{@message.content}';

  .page-header
    h1 Enter password:

  input#password.form-control type="password"
  button#decrypt.btn.btn-success type="submit" Show
  p#decrypted_content
- else
  h1 Your message:
  p = @message.content
